#safe-comment-component {
    position: relative;
    width: 80px;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
#safe-comment-component + .comment-editor__control-area-right {
    padding-left: 0;
}
.emotion-area {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.emotion-safe {
    background-color: #cef4a3;
}
.emotion-danger {
    background-color: #f4a3a3;
}
.emotion-warning {
    background-color: #f4eaa3;
}
.button--primary[disabled] {
    color: #000;
}

#issue-summary-component {
    position: relative;
    max-width: 300px;
    background-color: #ede2ff;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}
